<!-- <app-simple></app-simple> -->
<!-- <app-saudacao [nome]="'John Does'"></app-saudacao> -->
<!-- <app-meu></app-meu> -->
<!-- <app-lista-itens [lista]="['item 1', 'item 2', 'Banana', 'Pera']"></app-lista-itens> -->
<!-- <app-contador [contagem]="15"></app-contador> -->
<!-- <app-calculadora [valor1]="5" [valor2]="3"></app-calculadora> -->
<!-- <app-evento></app-evento> -->
<!-- <app-checkbox></app-checkbox> -->
<!-- <app-bind></app-bind> -->
<!-- <app-radio></app-radio> -->
<!-- <app-textarea></app-textarea> -->
<!-- <app-fundo-style></app-fundo-style> -->
<!-- <app-bind-class></app-bind-class> -->
<!-- <app-init-dados></app-init-dados> -->
<!-- <app-changes [valor]="5"></app-changes> -->
<!-- <app-obj-changes [pessoa]="{ name: 'John Doe', age: 30}"></app-obj-changes> -->
<!-- <app-do-check [valor]="13"></app-do-check> -->
<!-- <app-after-content> <p>Máxima 22° Mínima 17°</p> </app-after-content> -->
<!-- <app-checked></app-checked> -->
<!-- <app-view-init></app-view-init> -->
<!-- <app-view-checked></app-view-checked> -->
<app-destroy></app-destroy>



